PORT=3000
DATABASE_URL=postgres://freshmilk:freshmilk@localhost:5432/freshmilk
FABRIC_CHANNEL_NAME=milkchannel
FABRIC_TEST_NETWORK_PATH=~/fabric-samples/test-network
FABRIC_ORGANIZATIONS_PATH=~/fabric-samples/test-network/organizations/peerOrganizations
BACKEND_URL=http://localhost:3000
EVENT_CHECKPOINT_PATH=.fabric-events.checkpoint
